.App {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #f5f5f5;
}

.content-section {
  width: 100%;
  min-height: 800px;
  background-color: transparent;
}
