* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../pic/5A LOGO1 1.svg');
  background-size: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(12px);
  opacity: 0.15;
  z-index: -1;
  pointer-events: none;
}

::selection {
  background-color: #000000;
  color: #ffffff;
}

